<h3 [ngClass]="invert ? 'text-right' : 'text-left'">{{title}}</h3>

<table class="table" [ngClass]="invert ? 'text-right' : 'text-left'">
  <thead>
    <tr>
      <th scope="col" width="33%" *ngIf="!invert" class="d-lg-none"></th>
      <th scope="col" width="33%">{{invert ? 'Amount' : 'Limit'}}</th>
      <th scope="col" width="33%">{{invert ? 'Limit' : 'Amount'}}</th>
      <th scope="col" width="33%" *ngIf="invert" class="d-lg-none"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td *ngIf="!invert" class="d-lg-none">&nbsp;</td>
      <td>{{invert ? (order.amount | number:'1.3-3') : (order.limit | number:'1.5-5')}}</td>
      <td>{{invert ? (order.limit | number:'1.5-5') : (order.amount | number:'1.3-3')}}</td>
      <td *ngIf="invert" class="d-lg-none">&nbsp;</td>
    </tr>
  </tbody>
</table>
