#app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

aside {
    width: 100%;
    background: #333;
    color: #fff;
}

main {
    width: 100%;
}

@media screen and (min-width: 960px) {
    #app {
        flex-direction: row;
    }

    aside {
        max-width: 300px;
        border-right: 2px solid #fff;
    }
}
