<div id="sidebar">
  <div class="header bg-primary text-white">
      <h1 class="text-hide logo">{{title}}</h1>
  </div>

  <div class="main">
      <div class="block">
        <app-box-balance [balances]="balances"></app-box-balance>
      </div>
      
      <div class="block">
        <app-box-deposit></app-box-deposit>
      </div>
  </div>

  <div class="place-order bg-light text-dark">
    place order
  </div>

  <div class="footer bg-dark text-white">
    user
    <div class="avatar"></div>
  </div>
</div>
