<div id="sidebar">
  <div class="header bg-primary text-white">
      <h1 class="text-hide logo">{{data.title}}</h1>
  </div>

  <div class="main">
      <div class="block">
        <app-box-balance [balances]="balances"></app-box-balance>
      </div>
      
      <div class="block">
        <app-box-deposit></app-box-deposit>
      </div>
  </div>

  <div class="form bg-light text-dark" *ngIf="login.showLoginForm || login.loggedIn">
    <app-box-login-form *ngIf="login.showLoginForm && !login.loggedIn"></app-box-login-form>
    <app-box-order-place *ngIf="login.loggedIn"></app-box-order-place>
  </div>

  <div class="footer bg-dark text-white">
    <app-box-login-user></app-box-login-user>
  </div>
</div>
