@import '../../../styles.scss';

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    height: $header-height;
    line-height: $header-height;
    display: flex;

    h1 {
        margin-left: 5px;

        &.logo {
            background-image: url('/assets/logo.jpg');
            width: $header-height;
            height: $header-height;
        }
    }

    h2 {
        width: calc(100% - #{$header-height});
        padding-right: $header-height;
        @include view-header;
    }
}

.main {
    padding: 15px;
    height: calc(100% - #{$header-height});

    .block {
        margin-bottom: 20px;
    }
}

.place-order {
    padding: 15px;
    height: 200px; // TODO: temp, remove
}

.footer {
    height: $header-height;
    line-height: $header-height;
    padding-left: 15px;
    // border-top: 2px solid #fff;
    display: flex;
    justify-content: space-between;

    .avatar {
        width: $header-height;
        height: 100%;
        border-left: 1px dotted #fff;
    }
}

@media screen and (min-width: 960px) {
    .place-order {
        border-left: 2px solid #343a40;
        border-right: 2px solid #343a40;
    
        // fixed sidebar place order box
        position: fixed;
        bottom: $header-height;
        min-height: 200px; // TODO: temp, remove
        width: 298px; // TODO: fix
    }

    .footer {
        // fixed sidebar footer
        position: fixed;
        bottom: 0;
        width: 298px; // TODO: fix
    }
}