/* You can add global styles to this file, and also import other style files */

$primary: #014d6f;
$secondary: #01c1d8;
$light: #eee;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light
);

/* Headers */
$h2-font-size: 1.2em;
$header-height: 70px;
@mixin view-header {
  height: $header-height;
  line-height: $header-height;
  text-align: center;
}

$h3-font-size: 1.2em;
@mixin box-header {
  line-height: 2em;
}

@import '../node_modules/bootstrap/scss/bootstrap';

$fa-font-path: "~/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
