@import '../../../styles.scss';

#login-user {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  line-height: $header-height;

  .action {
      width: $header-height;
      height: 100%;
      border-left: 1px dotted #fff;
      position: relative;
      cursor: pointer;

      i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5em;
      }
  }
}
