@import '../../../styles.scss';

.header {
    height: $header-height;
    line-height: $header-height;
    display: flex;

    h2 {
        @include view-header;
        width: 100%;
    }
}

.main {
    padding: 15px;
    min-height: 200px; // TODO: remove, temp
}